# Python
__pycache__/
*.pyc
backend/venv/

# ML models (ignore all but allow backend model)
*.pkl
!backend/sentiment_model.pkl

# Kaggle notebook (NOT for production repo)
Kaggle_notebook/

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Android
.gradle/
local.properties

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db